.NameTitle {
  border-bottom-width: 4px;
  border-bottom-style: solid;
  padding: 20px;
  margin-bottom: 0px;
  font-size: 3em;
}

.ButtonRow {
  justify-content: center;
  margin-top: 30px;
}

.HomeButton {
  margin: 0 30px 0 30px;
  background: white;
  padding: 15px 30px;
  border-radius: 10px;
  font-size: large;
  font-weight: bold;
}

.HomeButton:hover {
  opacity: 50%;
}

.FlexContainer {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
}
